@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Light.ttf) format("truetype");

    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf) format("truetype");

    font-style: normal; 
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Black.ttf) format("truetype");

    font-style: normal; 
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 400;

    background-color: #f4f4f4;


}
